.resizable {
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}

.border-black {
  border: 0.12rem solid black;
}

.border-gray {
  border: 0.12rem solid #1e88e5;
}