.editor{
  align-items: center;
  justify-content: center;
}

.resizable {
  overflow: hidden;
  resize: both;
}

.border-black {
  border: 2px solid black;
}

.border-gray {
  border: 2px solid gray;
}